@media screen and (max-width: 1360px) {
  .main__bcg {
    width: 200px;
  }
}
@media screen and (max-width: 1180px) {
  .sort-link {
    padding: 7px 15px;
    font-size: 0.87em;
  }
  .nav-sort-block,
  .header-content__center {
    width: 940px;
    margin: 0 auto;
  }
  .nav-top-line__content-zone {
    width: 940px;
  }
  .content-wrap {
    width: 940px;
  }
  .footer-bootom__center {
    width: 875px;
  }
  .header-full-content__main-menu {
    margin-left: 35px;
  }
  .main-menu {
    font-size: 75%;
  }
  .nav-menu-link__down {
    top: 15px;
  }
  .sort-menu__item {
    margin-bottom: 12px;
  }
  .main__bcg {
    top: 105px;
    height: 1528px;
  }
  .footer-subscribe {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .footer-subscribe-form__title {
    font-size: 1.62em;
  }
}
@media screen and (max-width: 1024px) {
  .nav-sort-block,
  .nav-top-line__content-zone {
    width: 740px;
    margin: 0 auto;
  }
  .header-content__center {
    width: 740px;
  }
  .slider-content {
    width: 740px;
  }
  .header {
    height: 725px;
  }
  .content-wrap {
    width: 740px;
  }
  .main__bcg {
    height: 1604px;
  }
}
@media screen and (max-width: 940px) {
  .nav-sort-block {
    width: 740px;
  }
  .header-full-content__main-menu {
    float: right;
  }
  .nav-menu-link {
    padding-left: 8px;
    padding-right: 8px;
  }
  .nav-menu-link__down {
    display: none;
  }
  .header-full-content__search-like-block {
    float: right;
    clear: both;
  }
  .search-like-block {
    padding-top: 0;
  }
  .logo {
    padding-top: 20px;
    font-size: 90%;
    width: auto;
    display: inline-block;
  }
  .header {
    height: 900px;
  }
  .nav-sort-block {
    padding: 10px 0;
  }
  .nav-sort-category__title {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
  .sort-menu__item {
    margin-bottom: 12px;
  }
  .footer-search__inp {
    width: 200px;
  }
  .main__bcg {
    top: 130px;
    height: 1603px;
  }
  .footer-bootom__center {
    width: 740px;
  }
}
@media screen and (max-width: 767px) {
  .footer-bootom__center {
    width: 875px;
  }
  .header {
    height: auto;
  }
  .main {
    padding-top: 190px;
  }
  .header-content {
    display: none;
  }
  .header__nav-top-line {
    top: 0;
    position: fixed;
    width: 100%;
    background-color: #333399;
    z-index: 9999;
  }
  .adap-panel {
    display: -webkit-box;
    display: flex;
  }
  .adap-sort-menu {
    display: block;
  }
  .nav-sort-block {
    position: fixed;
    top: 110px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 99999;
    box-shadow: 0 1px 1px 0px #cccccc;
  }
  .nav-sort-category {
    width: 100%;
  }
  .lang {
    padding-left: 20px;
    background-position: left center;
  }
  .nav-top-line__content-zone {
    width: 100%;
  }
  .nav-top__socis-block {
    display: none;
  }
  .nav-top__location-block {
    float: none;
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .right-bar,
  .main__bcg {
    display: none;
  }
  .location-block__sing-in {
    border-right: none;
    padding-right: 0;
  }
  .nav-sort-category__title,
  .sort-menu {
    display: none;
  }
  .header-full-content__main-menu {
    float: left;
    display: none;
  }
  .main-menu__item {
    float: none;
    display: block;
  }
  .header-full-content__search-like-block {
    clear: none;
    padding-top: 15px;
  }
  .header-full-content__slider-block {
    margin-top: 130px;
  }
  .footer-bootom-content {
    display: none;
  }
  .content-wrap {
    width: 100%;
  }
}
@media screen and (max-width: 481px) {
  .nav-top__socis-block,
  .nav-top__location-block {
    float: none;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  .nav-top__location-block {
    margin-bottom: 0;
  }
  .socis-block__item:first-child {
    margin-left: 0;
  }
  .header-content {
    padding-top: 65px;
  }
  .logo {
    padding-top: 9px;
    padding-left: 5px;
  }
  .search-like-block__like-block,
  .search-like-block__search-block {
    border: none;
    float: none;
  }
  .slider-content__title2 {
    font-size: 80%;
  }
}
