@media screen and (max-width: 1180px) {
  .posts {
    width: 580px;
  }
  .post_mini .post__details-content {
    width: auto;
    float: none;
  }
  .post_mini .post__autor {
    width: 100%;
  }
  .post_mini .post__video-block {
    margin-right: 7px;
  }
  .post-details__text,
  .post-details__title {
    width: 90%;
  }
  .tree-column__col {
    width: 30%;
    margin-bottom: 20px;
    margin-right: 5%;
    box-sizing: border-box;
  }
  .tree-column__col:nth-child(3n) {
    margin-right: 0;
  }
  .two-column__col {
    width: 48%;
    margin-right: 4%;
  }
  .two-column__col:nth-child(2) {
    margin-right: 0;
  }
  .autor-post-info_middle {
    width: auto;
  }
  .autor-post-info__date {
    margin-top: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .header-full-content__slider-block {
    margin-top: 125px;
  }
  .content-wrap {
    width: 940px;
  }
  .posts {
    width: 480px;
  }
  .content-wrap {
    width: 740px;
  }
  .right-bar {
    width: 220px;
    padding-left: 20px;
  }
  .search-widget__input {
    width: 100%;
  }
  .post-widget-unit {
    padding-bottom: 15px;
  }
  .post-widget-unit__info {
    bottom: 5px;
    right: 5px;
    top: auto;
  }
  .post-video__slogan {
    top: 15px;
  }
  .post-details__title {
    font-size: 1em;
  }
  .post-details__text {
    font-size: 80%;
  }
  .post-widget-btn__recent-post,
  .post-widget-btn__popular-post {
    width: 50%;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
  }
  .post-details,
  .post-autor-panel,
  .post_mini .post__autor {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .post-details__text,
  .post-details__title {
    margin: 0 auto;
  }
  .autor-post-info__date {
    margin-top: 10px;
  }
  .autor-date__time {
    width: 100%;
  }
  .nav-sort-category {
    width: 740px;
  }
  .person-block__date {
    width: 150px;
  }
  .person-block .autor-date__calendar,
  .person-block .autor-date__time {
    width: 30%;
    text-align: center;
  }
  .person-block .autor-date__calendar {
    width: 70%;
  }
}
@media screen and (max-width: 940px) {
  .post-contain {
    width: 740px;
  }
  .posts {
    width: 470px;
  }
}
@media screen and (max-width: 767px) {
  .content-wrap {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .post-contain {
    width: 100%;
  }
  .posts {
    width: 100%;
  }
  .post-widget-unit {
    width: 230px;
  }
  .post-widget-unit {
    float: left;
  }
  .post_mini {
    display: -webkit-box;
    -webkit-box-lines: multiple;
    display: flex;
    flex-wrap: wrap;
  }
  .post_mini .post__video-block {
    width: 35%;
    margin: 0;
  }
  .post_mini .post__details-content {
    width: 65%;
  }
  .post-widget-unit__info {
    right: 10px;
    bottom: 10px;
  }
  .post-widget-content {
    display: table;
  }
  .right-bar__tab-post-widget {
    margin-bottom: 10px;
  }
  .content-wrap__post-contain {
    margin-right: 0;
  }
  .content-wrap__right-bar {
    margin-bottom: 35px;
  }
  .subctibe-block__socis {
    display: none;
  }
  .right-bar__subscribe {
    display: none;
  }
  .right-bar__tab-post-widget {
    clear: both;
  }
  .post-widget-btn__popular-post,
  .post-widget-btn__recent-post {
    float: left;
  }
}
@media screen and (max-width: 481px) {
  .post_mini .post__video-block {
    height: auto;
  }
  .post-video {
    font-size: 85%;
  }
  .tree-column__col {
    width: 100%;
    margin-bottom: 20px;
  }
  .tree-column__col:nth-child(3n),
  .tree-column__col:nth-child(2n) {
    margin-right: 0;
    margin-left: 0;
  }
  .post-autor-panel__autor-info {
    margin-left: 10px;
  }
}
